################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ParellalTaskSample/v16
/.vs
/ParellalTaskSample/.vs/ParellalTaskSample/v16
/ParellalTaskSample/obj
